include LICENSE
include README.md
include pyproject.toml

recursive-include examples *.py *.json *.xyz

# Exclude build and cache artifacts
prune build
prune dist
prune .pytest_cache
prune **/__pycache__
